.container {
	padding-bottom: 2px;
}

.title {
	font-size: 20px
}

.subTitle {
	font-size: 10px;
	margin-left: 16px
}

.value {
	font-size: 22px;
	margin-left: 15px
}
.actions {
	float: right;
}

.icons {
	color: grey;
	margin-left: 20px;
	cursor: pointer;
}
